<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DesiredFrameRate" value="[DynamicFrameRate 360]" />
    <add key="DisplayScalar" value="2" />
    <add key="FarPlaneDistanceExterior" value="640" />
    <add key="NearPlaneDistanceImposter" value="640" />
  </appSettings>
</configuration>